.has-bg-img{
    background-image:url('../../media/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
//
// .backgrund-mint{
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//
//     .mint-video{
//         width: 100%;
//         height: 100%;
//     }
// }

input{
    &::placeholder{
        color: #808080 !important;
    }

}

.background-video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.invisible-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
