.carousel-container {
  position: relative;
  height: 300px;
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  touch-action: pan-y;
}

.carousel-track {
  display: flex;
  height: 100%;
}

.carousel-card {
    flex: 0 0 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;



    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.carousel-pagination-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    display: flex;
    justify-content: center;
    pointer-events: none;
    z-index: 1;
}

.carousel-pagination {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 360px;
    padding: 0;
}

.carousel-pagination li {
    width: 8px;
    height: 2px;
    background: rgba(50, 50, 50, 0.5);
}

.carousel-pagination .current {
    background: white;
}
