@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import './vars';
@import './colorHelpers';
@import './imageHelpers';
@import '~bulma';


html, body, #root{
    width: 100%;
    height: 100%;
}


*:not(i){
    font-family: 'Audiowide', cursive;
}

.is-medium{
    height: 100%;
}
